<form>
  <strong>Filtrar por:</strong>
  <div class="row mt-2">
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Ex: John">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Ex: JoJon">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Ex: jojonnon@beatles.com">
      </mat-form-field>
    </div>
    <div class="col-2">
      <button mat-raised-button color="accent" class="w-100">Filtrar</button>
    </div>
  </div>
</form>