<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <strong>Filtrar por:</strong>
  <div class="row mt-2">
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Ex: John" formControlName="name">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Ex: JoJon" formControlName="username">
      </mat-form-field>
    </div>
    <div class="col col-md-6 col-lg">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="Ex: jojonnon@beatles.com" formControlName="email">
      </mat-form-field>
    </div>
    <div class="col-md col-lg-2">
      <button 
        type="submit" 
        mat-raised-button 
        color="accent" 
        class="w-100"
      >
        Filtrar
      </button>
    </div>
  </div>
</form>